body{
    background: var(--bg-color);
    
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-conatainer{
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto); */
    display: flex;
    flex-direction: column;
    /* min-width: 450px; */
    width: 35%;
    background-color: #9aadb8;;
    margin: 0 20px;
    padding: 30px 20px 5px;
    border-radius: 10px;
    border-top: 3px solid var(--main-color);
    box-shadow: 3px 3px 4px #3f3e3e;
}
@media screen and (max-width: 1200px) {
    .main-conatainer{
        width: 55%;
    }
}
@media screen and (max-width: 860px) {
    .main-conatainer{
        width: 65%;
    }
}
@media screen and (max-width: 685px) {
    .main-conatainer{
        width: 85%;
    }
}
.main-conatainer:hover{
    box-shadow: 3px 3px 6px 2px #05197b;
}

.header{
    margin: 0 auto;
}
.header h2{
    color: var(--main-color);
    font-size: var(--h2-font);
    font-weight: 600;
    letter-spacing: 1.5px;
    text-shadow: 2px 1px 3px #064772;
}

form{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    row-gap: 0.6rem;
}

form .form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.form-group input{
    width: 100%;
    height: 2.3rem;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    border-left: 0.15rem solid var(--main-color);
    border-right: 0.1rem solid #555;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--text-color);
    box-shadow: 0 0 5px #573d32;
}
::placeholder{
    font-size: 15px;
    font-weight: 450;
    color: #645252;
}

.form-group label{
    color: var(--header-color);
    font-size: 1.2rem;
}

.submit-Btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
}
.submit-Btn button{
    width: 4.5rem;
    height: 2.1rem;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
    background: var(--main-color);
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--text-color);
    box-shadow: 0 0 3px #080808;
    transition: all 0.7s;
}
.submit-Btn button:hover{
    background: #250977;
    color: var(--main-color);
    box-shadow: 2px 2px 5px #812005;
    transform: scale(1.07);
}
.submit-Btn a{
    color: var(--bg-color);
    text-decoration: none;
    font-size: 0.88rem;
}
.submit-Btn a:first-child{
    text-align: left;
}

.submit-Btn a:last-child{
    text-align: right;
    
}
.submit-Btn a:last-child:hover{
    color: green;
}

@media screen and (max-width: 510px) {
    .form-group input{
        height: 2rem;
        padding: 3.4px;
        font-size: 13px;
    }
    ::placeholder{
        font-size: 13px;
    }
    
    .form-group label{
        font-size: 1rem;
    }
    .main-conatainer{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 5px;
        padding: 30px 10px 5px;
    }
    .submit-Btn button{
        width: 3.3rem;
        height: 1.93rem;
        padding: 4px 7px;
        font-size: 0.83rem;
    }
    .submit-Btn a{
        color: var(--bg-color);
        text-decoration: none;
        font-size: 0.7rem;
    }
}
